
@import '../../index.css';

.invitations-card__container {
    display: flex;
    width: 100%;
    background-color: var(--rear_morado);
    margin: 5px 0px;
    border-radius: 7px;
    padding: 10px;
}

.invitations-card__data{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 10px;
}

.invitations-card__data span{
    font-weight: 650;
    margin: 5px 0px;
}
.invitations-card__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.invitations-card__button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 3px;
}



