@import '../../index.css';

.home {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.home__title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    background-color: var(--morado);
}

.home__subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

.home__buttons {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 1rem;
    margin: 0 50px;
}

.home__buttons {
    display: flex;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.home__end {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.home__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: .8rem;
}

.home__end h2{
    margin-bottom: 1rem;
}

.home__link:active {
    color: var(--morado);
}