
@import '../../index.css';

.teams-task-card__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--rear_morado);
    margin: 5px 0px;
    border-radius: 7px;
    padding: 10px;
}

.teams-task-card__data{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 10px;
    padding-right: 20px;
}

.teams-task-card__data--small{
    font-size: 0.7rem;
}

.teams-task-card__data span{
    font-weight: 650;
    margin: 5px 0px;
}

.teams-task-card__button {
    display: flex;
    align-items: center;
    width: 100%;
}
.teams-task-card__skeleton{
    width: 100%;
    margin: 5px 0px;
    border-radius: 7px;
    padding: 10px;
    animation-name: skeleton;
    animation-duration: 1s;
}

/* Here is the animation to teams-task-card__skeleton
changing the color between var(--rear_morado) and white  */

@keyframes skeleton {
    0% {
        background-color: var(--rear_morado);
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: var(--rear_morado);
    }
}



