@import '../../index.css';

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    top: 0;
    height: 50px;
    font-size: var(--default-text-size);
    border-bottom: var(--dark_gray) 1px solid;
    position: sticky;
    width: 100%;

}

.div__icon {
    width: 27px;
    height: 27px;
    color: var(--morado)
}

.navbar__div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.div__icon {
    margin-right: 10px;
}

.navbar__ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.ul__link {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

.ul__link:hover {
    border-bottom: #000 2px solid;

}

.navbar__menu {
    height: 30px;
    width: 30px;
    align-self: center;
    margin-right: 20px;
    stroke-width: .01px;
    
}

@media screen and (min-width: 562px) {
    .navbar__menu {
        display: none;
    }
    
}

@media screen and (max-width: 562px) {
    .navbar__ul {
        display: none;
    }
    
}